nodered/actuadores-flow.json
[{"id":"72da1078.916768","type":"tab","label":"Actuadores","disabled":false,"info":""},{"id":"2f09ab16.783014","type":"link in","z":"72da1078.916768","name":"","links":["25324058.6b9cf8"],"x":95,"y":240,"wires":[["b084da35.285098","c785537f.869f2","51df6aa9.048f8c"]]},{"id":"b084da35.285098","type":"function","z":"72da1078.916768","name":"","func":"var randomValue = Math.floor(Math.random()*10);\nmsg.payload = randomValue;\nmsg.payload = \"LUZ\";\nmsg.residenceId = 1;\nmsg.topic = \"actuator/\" + msg.residenceId + \"LIGHT_ON\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":240,"wires":[["88bc5e99.814d68"]]},{"id":"88bc5e99.814d68","type":"mqtt out","z":"72da1078.916768","name":"","topic":"","qos":"","retain":"true","broker":"af2ecbdd.767f08","x":850,"y":180,"wires":[]},{"id":"a9ffcf09.7b1908","type":"switch","z":"72da1078.916768","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"}],"checkall":"false","repair":false,"outputs":10,"x":790,"y":320,"wires":[[],[],[],[],[],[],[],[],[],[]]},{"id":"34878938.c8ca96","type":"inject","z":"72da1078.916768","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":100,"wires":[["b084da35.285098"]]},{"id":"c785537f.869f2","type":"debug","z":"72da1078.916768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":320,"wires":[]},{"id":"51df6aa9.048f8c","type":"debug","z":"72da1078.916768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"dqwdqwdqw\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":450,"y":420,"wires":[]},{"id":"af2ecbdd.767f08","type":"mqtt-broker","name":"mqtt-server","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]