nodered/actuadores-flow.json
[{"id":"8db67ad5.e0cc38","type":"tab","label":"Actuadores","disabled":false,"info":""},{"id":"320c380a.49c198","type":"link in","z":"8db67ad5.e0cc38","name":"","links":["25324058.6b9cf8","fcb0f399.47ef6"],"x":15,"y":180,"wires":[["e2ac9207.bc02f"]]},{"id":"d27c7edb.ba4b2","type":"mqtt out","z":"8db67ad5.e0cc38","name":"mqtt send ","topic":"1/1/bedroom/1/actions","qos":"0","retain":"true","broker":"af2ecbdd.767f08","x":2580,"y":220,"wires":[]},{"id":"331fcba7.acdb24","type":"encode","z":"8db67ad5.e0cc38","name":"Encode Actuator Message","protofile":"60305973.f62a9","protoType":"ActuatorMessage","x":2240,"y":220,"wires":[["f1b64fd8.76346","d27c7edb.ba4b2"]]},{"id":"e2ac9207.bc02f","type":"function","z":"8db67ad5.e0cc38","name":"Prepara sensors data query","func":"var topicSplitted = msg.topic.split(\"/\");\nvar idTenant = topicSplitted[0];\nvar idResidence = topicSplitted[1];\nvar roomType = topicSplitted[2];\nvar idBedroom = topicSplitted[3];\n\nvar influxLine = \"SELECT lightLevel FROM light where idBedroom=#idBedroom and idTenant=#idTenant and idResidence=#idResidence order by time DESC limit 1 ; select temperature from  temperature  where idBedroom=#idBedroom and idTenant=#idTenant and idResidence=#idResidence order by time DESC limit 1;select airQuality from  airQuality  where idBedroom=#idBedroom and idTenant=#idTenant and idResidence=#idResidence order by time DESC limit 1;select humidity from  humidity  where idBedroom=#idBedroom and idTenant=#idTenant and idResidence=#idResidence order by time DESC limit 1;select presence from  presence where idBedroom=#idBedroom and idTenant=#idTenant and idResidence=#idResidence order by time DESC limit 1;SELECT light,window FROM room_status where roomType='#roomType' and idRoom=#idBedroom and idTenant=#idTenant and idResidence=#idResidence order by time DESC limit 1;SELECT municipio FROM residences where residenceId=#idResidence;\"\ninfluxLine = influxLine.replace(/#idTenant/g,idTenant);\ninfluxLine = influxLine.replace(/#idResidence/g,idResidence);\ninfluxLine = influxLine.replace(/#idRoom/g,idBedroom);\ninfluxLine = influxLine.replace(/#idBedroom/g,idBedroom);\ninfluxLine = influxLine.replace(/#roomType/g,roomType);\nmsg.influxLine = influxLine;\ninfluxLine = encodeURIComponent(influxLine);\n\nvar getUrl = \"http://#influxIp:8086/query?db=#db\";\ngetUrl =  getUrl.replace('#influxIp', env.get(\"INFLUX_IP\"));\ngetUrl =  getUrl.replace('#db', env.get(\"SENSOR_DATABASE_NAME\"));\nmsg.url = getUrl+\"&q=\"+ influxLine;\nmsg.roomType = roomType;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set('LIGHT', 0)\nflow.set('WINDOW', 1)","finalize":"","x":140,"y":260,"wires":[["b99a4.7146265c8"]],"info":"Prepare a influxDB query to retrieve:\nSensor data \nCurrent Actuator Status"},{"id":"b99a4.7146265c8","type":"http request","z":"8db67ad5.e0cc38","name":"GET to influx","method":"GET","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":160,"wires":[["7b418b34.52a1f4","a16ccdb4.ac586"]]},{"id":"7b418b34.52a1f4","type":"function","z":"8db67ad5.e0cc38","name":"Prepare Response","func":"const LIGHT = flow.get('LIGHT');\nconst WINDOW = flow.get('WINDOW');\n\n\n\nmsg.payload = JSON.parse(msg.payload);\nvar results = msg.payload.results;\n// Format sensors info\nvar sensorsInfo = {};\nfor(var i = 0; i <= 4; i++) {\n    if(results[i].series) {\n        sensorsInfo[results[i].series[0].name] = results[i].series[0].values[0][1];\n    }\n}\n\nvar previousStatus = { 'light':false,\n'window':false};\n\nif(results[5]&&  results[5].series&& results[5].series.length>0 && results[5].series[0]){\n     previousStatus = { 'light':results[5].series[0].values[0][LIGHT],\n'window': results[5].series[0].values[0][WINDOW] };\n}\n\nvar municipeCode = results[6].series[0].values[0][1];\n\n// Clean useless data\nmsg.responseUrl = undefined;\nmsg.influxLine = undefined;\nmsg.url = undefined;\nmsg.municipeCode = municipeCode;\n\nmsg.roomInfo = {'sensorsInfo':sensorsInfo, 'previousStatus': previousStatus};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":160,"wires":[["59c20f08.84876","e930a0ff.4168a"]]},{"id":"a16ccdb4.ac586","type":"debug","z":"8db67ad5.e0cc38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":420,"wires":[]},{"id":"59c20f08.84876","type":"debug","z":"8db67ad5.e0cc38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":400,"wires":[]},{"id":"36d0859d.c5a64a","type":"function","z":"8db67ad5.e0cc38","name":"Determinate Actions","func":"\n// Code added here will be run once\n// whenever the node is started.\n\n\nvar actions = {};\nvar statusChange = false;\n\nvar newStatus = {'light': false, 'window': false} ;\nvar prevStatus = msg.payload.previousStatus;\nvar externalTemp = msg.payload.temp;\n\n\n            \nmsg.topic = \"#idTenant/#idResidence/#roomType/#idRoom/actions\";\nmsg.topic = msg.topic.replace('#idResidence',msg.idResidence);\nmsg.topic = msg.topic.replace('#idTenant',msg.idTenant);\nmsg.topic = msg.topic.replace('#idRoom',msg.idBedroom);\nmsg.topic = msg.topic.replace('#roomType',msg.roomType);\n\n\n// Si hay presencia \nif(msg.payload.sensorsInfo.presence) {\n    // Se comprueba el nivel de luz\n    newStatus.light = msg.payload.sensorsInfo.light < 1500;\n\n    // Se comprueba la temperatura interna y externa\n    newStatus.window = msg.payload.sensorsInfo.temperature > 25 && externalTemp < 25;\n    if(!newStatus.window) {\n        // Se comprueba la calidad del aire\n        newStatus.window = msg.payload.sensorsInfo.airQuality > 2500;\n    }\n} \nif ( (newStatus.light !== prevStatus.light) \n    || ( newStatus.window !== prevStatus.window) ) {\n    statusChange = true;\n} \n\n\nmsg.statusChange = true;\nmsg.payload = newStatus;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":160,"wires":[["a843758e.fb4da8"]]},{"id":"a843758e.fb4da8","type":"switch","z":"8db67ad5.e0cc38","name":"","property":"statusChange","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1870,"y":160,"wires":[["331fcba7.acdb24","d27c7edb.ba4b2"],["b3343e5b.9bce1"]]},{"id":"b3343e5b.9bce1","type":"debug","z":"8db67ad5.e0cc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Not status change\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1940,"y":340,"wires":[]},{"id":"520f1893.9eae88","type":"function","z":"8db67ad5.e0cc38","name":"Prepare Influx Post","func":"const LIGHT = flow.get('LIGHT');\nconst WINDOW = flow.get('WINDOW');\n\nvar influxPostLine = 'room_status idTenant=#idTenant,idResidence=#idResidence,roomType=\"#roomType\",idRoom=#idRoom,light=#light,window=#window';\ninfluxPostLine = influxPostLine.replace('#idTenant',msg.idTenant);\ninfluxPostLine = influxPostLine.replace('#idResidence',msg.idResidence);\ninfluxPostLine = influxPostLine.replace('#idRoom',msg.idBedroom);\ninfluxPostLine = influxPostLine.replace('#roomType',msg.roomType);\ninfluxPostLine = influxPostLine.replace('#light',msg.payload.newStatus.light);\ninfluxPostLine = influxPostLine.replace('#window',msg.payload.newStatus.window);\n\nvar postUrl = \"http://#influxIp:8086/write?db=residentAngel\";\nmsg.url =  postUrl.replace('#influxIp', env.get(\"INFLUX_IP\"));\nmsg.payload = influxPostLine;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2050,"y":80,"wires":[["a7e23a8e.0af758"]]},{"id":"a7e23a8e.0af758","type":"http request","z":"8db67ad5.e0cc38","name":"POST Influx","method":"POST","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2310,"y":80,"wires":[["31479d8a.2442f2"]]},{"id":"31479d8a.2442f2","type":"debug","z":"8db67ad5.e0cc38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2490,"y":80,"wires":[]},{"id":"e930a0ff.4168a","type":"function","z":"8db67ad5.e0cc38","name":"Prepare aemet  query","func":"\n\nvar influxLine = \"SELECT orto,ocaso,temp FROM weather_forecast where municipio=#idMunicipe order by time DESC limit 1\";\ninfluxLine = influxLine.replace(/#idMunicipe/g,msg.municipeCode);\ninfluxLine = encodeURIComponent(influxLine);\n\nvar getUrl = \"http://#influxIp:8086/query?db=aemet\";\ngetUrl =  getUrl.replace('#influxIp', env.get(\"INFLUX_IP\"));\nmsg.url = getUrl+\"&q=\"+ influxLine;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set('LIGHT', 0)\nflow.set('WINDOW', 1)","finalize":"","x":780,"y":160,"wires":[["692c9163.4e539"]],"info":"Prepare a influxDB query to retrieve:\nSensor data \nCurrent Actuator Status"},{"id":"692c9163.4e539","type":"http request","z":"8db67ad5.e0cc38","name":"GET aemet","method":"GET","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":160,"wires":[["373c4d6f.093d72","5d38c406.f3354c"]]},{"id":"373c4d6f.093d72","type":"debug","z":"8db67ad5.e0cc38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":260,"wires":[]},{"id":"5d38c406.f3354c","type":"function","z":"8db67ad5.e0cc38","name":"Process aemet response","func":"\n\nmsg.payload = JSON.parse(msg.payload);\nvar orto = msg.payload.results[0].series[0].values[0][1];\nvar ocaso = msg.payload.results[0].series[0].values[0][2];\nvar temp = msg.payload.results[0].series[0].values[0][3];\nmsg.payload = msg.roomInfo;\nmsg.roomInfo = undefined;\nmsg.payload.temp = temp;\n\n// Clean useless data\nmsg.responseUrl = undefined;\nmsg.influxLine = undefined;\nmsg.url = undefined;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set('LIGHT', 0)\nflow.set('WINDOW', 1)","finalize":"","x":1290,"y":160,"wires":[["36d0859d.c5a64a","40bd7056.32dae"]],"info":"Prepare a influxDB query to retrieve:\nSensor data \nCurrent Actuator Status"},{"id":"40bd7056.32dae","type":"debug","z":"8db67ad5.e0cc38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1530,"y":260,"wires":[]},{"id":"f1b64fd8.76346","type":"decode","z":"8db67ad5.e0cc38","name":"","protofile":"60305973.f62a9","protoType":"ActuatorMessage","x":2520,"y":360,"wires":[["611dc5b1.244f6c"]]},{"id":"611dc5b1.244f6c","type":"debug","z":"8db67ad5.e0cc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2710,"y":420,"wires":[]},{"id":"af2ecbdd.767f08","type":"mqtt-broker","name":"mqtt-server","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"60305973.f62a9","type":"protobuf-file","protopath":"/usr/src/node-red/environment.proto","watchFile":true}]