nodered/aemet-flow.json
[{"id":"b942d12e.7ace98","type":"tab","label":"Aemet","disabled":false,"info":""},{"id":"56e1750f.3c678c","type":"inject","z":"b942d12e.7ace98","name":"","props":[],"repeat":"15","crontab":"","once":true,"onceDelay":"0","topic":"","payloadType":"str","x":110,"y":180,"wires":[["34758290.64b116"]]},{"id":"34758290.64b116","type":"http request","z":"b942d12e.7ace98","name":"Find Residences","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://192.168.1.62:8086/query?db=residentAngel&q=SELECT+*+FROM+residences","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":180,"wires":[["80db9000.3f4df","f2ab9841.90c438"]]},{"id":"80db9000.3f4df","type":"debug","z":"b942d12e.7ace98","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.results[0].series[0].values","targetType":"jsonata","statusVal":"payload","statusType":"auto","x":430,"y":300,"wires":[]},{"id":"9fa4ea9a.273998","type":"comment","z":"b942d12e.7ace98","name":"Se limpia el resultado de la consulta a InfluxDB para extraer los values. Formato:  timestamp,municipio,idResidence","info":"Se limpia el resultado de la consulta a InfluxDB para extraer los values.\nFormato: \ntimestamp,municipio,idResidence","x":430,"y":60,"wires":[]},{"id":"f2ab9841.90c438","type":"change","z":"b942d12e.7ace98","name":"Clean response","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.results[0].series[0].values","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[["5d8aaf32.e5b468"]]},{"id":"5d8aaf32.e5b468","type":"split","z":"b942d12e.7ace98","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":180,"wires":[["1a0c0af3.8e7e1d","f7247809.602be"]]},{"id":"ed2c6de1.f38828","type":"debug","z":"b942d12e.7ace98","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1050,"y":320,"wires":[]},{"id":"1a0c0af3.8e7e1d","type":"debug","z":"b942d12e.7ace98","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":300,"wires":[]},{"id":"f7247809.602be","type":"function","z":"b942d12e.7ace98","name":"Prepare AEMET URL","func":"\nvar apiKey = \"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJqZXN1c2pjYXRhbGFuQGdtYWlsLmNvbSIsImp0aSI6IjZmN2U3N2QwLWEyZjYtNGYxZC05YTY3LTAzM2M3OTFlNjgxZCIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNjA5OTMxMTAzLCJ1c2VySWQiOiI2ZjdlNzdkMC1hMmY2LTRmMWQtOWE2Ny0wMzNjNzkxZTY4MWQiLCJyb2xlIjoiIn0.lCwF8w6EKvmN9EwnlOhZBELI5iRrcUikTESsWH23dic\";\nvar codMunicipio = msg.payload[1];\nvar bedroomId = msg.payload[2];\nmsg = \"https://opendata.aemet.es/opendata/api/prediccion/especifica/municipio/horaria/\" + codMunicipio + \"/?api_key=\" + apiKey\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":180,"wires":[["ed2c6de1.f38828"]]}]