nodered/aemet-flow.json
[{"id":"66c77a3a.cefc2c","type":"subflow","name":"QueryAEMET","info":"","category":"","in":[{"x":0,"y":100,"wires":[{"id":"f7247809.602be"}]}],"out":[{"x":1100,"y":100,"wires":[{"id":"d75ceeb.4801a1","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f7247809.602be","type":"function","z":"66c77a3a.cefc2c","name":"Prepare Residence Data","func":"/**\n * This function prepare the data for each residence\n */\nvar query = msg.payload[1] + \"/?api_key=\" + flow.get(\"apiKey\");\nmsg.municipio = msg.payload[1];\nmsg.residenceId = msg.payload[2];\nmsg.targetTimezone = msg.payload[3];\nmsg.currentTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;\nmsg.currentDate = Date.now();\nmsg.currentNewDate = new Date();\nmsg.url = \"https://opendata.aemet.es/opendata/api/prediccion/especifica/municipio/horaria/\" + query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"apiKey\", \"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJqZXN1c2pjYXRhbGFuQGdtYWlsLmNvbSIsImp0aSI6IjZmN2U3N2QwLWEyZjYtNGYxZC05YTY3LTAzM2M3OTFlNjgxZCIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNjA5OTMxMTAzLCJ1c2VySWQiOiI2ZjdlNzdkMC1hMmY2LTRmMWQtOWE2Ny0wMzNjNzkxZTY4MWQiLCJyb2xlIjoiIn0.lCwF8w6EKvmN9EwnlOhZBELI5iRrcUikTESsWH23dic\");","finalize":"","x":190,"y":100,"wires":[["97bc3f67.8f4618"]]},{"id":"97bc3f67.8f4618","type":"http request","z":"66c77a3a.cefc2c","name":"AEMET CodMunicipioQuery","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":200,"wires":[["8101b61e.77c86"]]},{"id":"ae3a59d8.4ae178","type":"http request","z":"66c77a3a.cefc2c","name":"AEMET Data Query","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":200,"wires":[["d75ceeb.4801a1"]]},{"id":"8101b61e.77c86","type":"function","z":"66c77a3a.cefc2c","name":"Get Query Data","func":"var splited = msg.payload.datos.split(\"/\");\nmsg.url = \"https://opendata.aemet.es/opendata/sh/\" + splited[splited.length - 1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":100,"wires":[["ae3a59d8.4ae178"]]},{"id":"d75ceeb.4801a1","type":"change","z":"66c77a3a.cefc2c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.prediccion.dia[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":100,"wires":[[]]},{"id":"8e88576a.810488","type":"subflow","name":"QueryResidences","info":"","category":"","in":[{"x":60,"y":200,"wires":[{"id":"415c32b6.38cccc"}]}],"out":[{"x":1000,"y":200,"wires":[{"id":"5d8aaf32.e5b468","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"34758290.64b116","type":"http request","z":"8e88576a.810488","name":"Find Residences","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":200,"wires":[["f2ab9841.90c438"]]},{"id":"f2ab9841.90c438","type":"change","z":"8e88576a.810488","name":"Clean response","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.results[0].series[0].values","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":200,"wires":[["5d8aaf32.e5b468"]]},{"id":"5d8aaf32.e5b468","type":"split","z":"8e88576a.810488","name":"For Each Residence","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":840,"y":200,"wires":[[]]},{"id":"415c32b6.38cccc","type":"function","z":"8e88576a.810488","name":"","func":"var residentQueryURL = \"http://#influxIp:8086/query?db=#databaseName&q=SELECT+*+FROM+residences\";\nresidentQueryURL = residentQueryURL.replace('#influxIp', env.get(\"BROKER_IP\"));\nresidentQueryURL = residentQueryURL.replace('#databaseName',env.get(\"SENSOR_DATABASE_NAME\"));\nmsg.url = residentQueryURL;\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"influxIp\", env.get(\"INFLUX_IP\"));","finalize":"","x":200,"y":200,"wires":[["34758290.64b116"]]},{"id":"b942d12e.7ace98","type":"tab","label":"Aemet","disabled":false,"info":""},{"id":"56e1750f.3c678c","type":"inject","z":"b942d12e.7ace98","name":"","props":[],"repeat":"3300","crontab":"","once":true,"onceDelay":"0","topic":"","payloadType":"str","x":110,"y":200,"wires":[["4fd94ed6.8f336"]]},{"id":"5ca1ea00.00a18","type":"function","z":"b942d12e.7ace98","name":"Process Response","func":"var d = new Date();\nvar currentHour = d.getHours();\n// Aemet api only returns 7-23 results. If current hour is out of this range force 7.\ncurrentHour = currentHour < 7 || currentHour > 23 ? 7 : currentHour;\n\nvar payload = {};\npayload.orto = '\"' + msg.payload.orto + '\"';\npayload.ocaso = '\"' +  msg.payload.ocaso + '\"';\n// Se toma la temperatura\nvar tempObj = msg.payload.temperatura.filter(data => Number(data.periodo) == 18).pop();\nif(tempObj) {\n    payload.temp = Number(tempObj.value);\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":200,"wires":[["5c88b2c.ed3b2cc"]]},{"id":"5c88b2c.ed3b2cc","type":"function","z":"b942d12e.7ace98","name":"Prepare Influx Post","func":"var influxPostLine = 'weather_forecast municipio=#municipio,temp=#temp,ocaso=#ocaso,orto=#orto';\ninfluxPostLine = influxPostLine.replace('#municipio',msg.municipio);\ninfluxPostLine = influxPostLine.replace('#temp',msg.payload.temp);\ninfluxPostLine = influxPostLine.replace('#ocaso',msg.payload.ocaso);\ninfluxPostLine = influxPostLine.replace('#orto',msg.payload.orto);\nvar postUrl = \"http://#influxIp:8086/write?db=aemet\";\nmsg.url =  postUrl.replace('#influxIp', env.get(\"BROKER_IP\"));\nmsg.payload = influxPostLine;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":200,"wires":[["351e66d0.9d873a"]]},{"id":"351e66d0.9d873a","type":"http request","z":"b942d12e.7ace98","name":"POST Influx","method":"POST","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":200,"wires":[[]]},{"id":"4fd94ed6.8f336","type":"subflow:8e88576a.810488","z":"b942d12e.7ace98","name":"Query Residences","env":[],"x":310,"y":200,"wires":[["4f23f2f6.b53924"]]},{"id":"4f23f2f6.b53924","type":"subflow:66c77a3a.cefc2c","z":"b942d12e.7ace98","name":"Query AEMET","env":[],"x":520,"y":200,"wires":[["5ca1ea00.00a18"]]}]