nodered/aemet-flow.json
[{"id":"b942d12e.7ace98","type":"tab","label":"Aemet","disabled":false,"info":""},{"id":"56e1750f.3c678c","type":"inject","z":"b942d12e.7ace98","name":"","props":[],"repeat":"3300","crontab":"","once":true,"onceDelay":"0","topic":"","x":70,"y":220,"wires":[["34758290.64b116"]]},{"id":"34758290.64b116","type":"http request","z":"b942d12e.7ace98","name":"Find Residences","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://192.168.1.62:8086/query?db=residentAngel&q=SELECT+*+FROM+residences","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":120,"wires":[["f2ab9841.90c438"]]},{"id":"f2ab9841.90c438","type":"change","z":"b942d12e.7ace98","name":"Clean response","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.results[0].series[0].values","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":300,"wires":[["5d8aaf32.e5b468"]]},{"id":"5d8aaf32.e5b468","type":"split","z":"b942d12e.7ace98","name":"For Each Residence","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":480,"y":120,"wires":[["f7247809.602be"]]},{"id":"f7247809.602be","type":"function","z":"b942d12e.7ace98","name":"Prepare Residence Data","func":"/**\n * This function prepare the data for each residence\n */\nmsg.query = msg.payload[1] + \"/?api_key=\" + flow.get(\"apiKey\");\nmsg.municipio = msg.payload[1];\nmsg.residenceId = msg.payload[2];\nmsg.targetTimezone = msg.payload[3];\nmsg.currentTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;\nmsg.currentDate = Date.now();\nmsg.currentNewDate = new Date();\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"apiKey\", \"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJqZXN1c2pjYXRhbGFuQGdtYWlsLmNvbSIsImp0aSI6IjZmN2U3N2QwLWEyZjYtNGYxZC05YTY3LTAzM2M3OTFlNjgxZCIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNjA5OTMxMTAzLCJ1c2VySWQiOiI2ZjdlNzdkMC1hMmY2LTRmMWQtOWE2Ny0wMzNjNzkxZTY4MWQiLCJyb2xlIjoiIn0.lCwF8w6EKvmN9EwnlOhZBELI5iRrcUikTESsWH23dic\");","finalize":"","x":610,"y":300,"wires":[["97bc3f67.8f4618"]]},{"id":"97bc3f67.8f4618","type":"http request","z":"b942d12e.7ace98","name":"AEMET CodMunicipioQuery","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://opendata.aemet.es/opendata/api/prediccion/especifica/municipio/horaria/{{{query}}}","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":120,"wires":[["8101b61e.77c86"]]},{"id":"ae3a59d8.4ae178","type":"http request","z":"b942d12e.7ace98","name":"AEMET Data Query","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://opendata.aemet.es/opendata/sh/{{{query}}}","tls":"","persist":false,"proxy":"","authType":"","x":1120,"y":120,"wires":[["d75ceeb.4801a1"]]},{"id":"8101b61e.77c86","type":"function","z":"b942d12e.7ace98","name":"Get Query Data","func":"var splited = msg.payload.datos.split(\"/\");\nmsg.query = splited[splited.length - 1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":280,"wires":[["ae3a59d8.4ae178"]]},{"id":"d75ceeb.4801a1","type":"change","z":"b942d12e.7ace98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.prediccion.dia[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":300,"wires":[["5ca1ea00.00a18"]]},{"id":"5ca1ea00.00a18","type":"function","z":"b942d12e.7ace98","name":"Process Response","func":"var d = new Date();\nvar currentHour = d.getHours();\n// Aemet api only returns 7-23 results. If current hour is out of this range force 7.\ncurrentHour = currentHour < 7 || currentHour > 23 ? 7 : currentHour;\n\nvar payload = {};\npayload.orto = '\"' + msg.payload.orto + '\"';\npayload.ocaso = '\"' +  msg.payload.ocaso + '\"';\n// Se toma la temperatura\nvar tempObj = msg.payload.temperatura.filter(data => Number(data.periodo) == 18).pop();\nif(tempObj) {\n    payload.temp = Number(tempObj.value);\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":300,"wires":[["5c88b2c.ed3b2cc"]]},{"id":"5c88b2c.ed3b2cc","type":"function","z":"b942d12e.7ace98","name":"Prepare Influx Line","func":"var influxPostLine = 'weather_forecast municipio=#municipio,temp=#temp,ocaso=#ocaso,orto=#orto';\ninfluxPostLine = influxPostLine.replace('#municipio',msg.municipio);\ninfluxPostLine = influxPostLine.replace('#temp',msg.payload.temp);\ninfluxPostLine = influxPostLine.replace('#ocaso',msg.payload.ocaso);\ninfluxPostLine = influxPostLine.replace('#orto',msg.payload.orto);\nmsg.payload = influxPostLine;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1550,"y":300,"wires":[["351e66d0.9d873a"]]},{"id":"351e66d0.9d873a","type":"http request","z":"b942d12e.7ace98","name":"POST Influx","method":"POST","ret":"txt","paytoqs":"body","url":"http://192.168.1.62:8086/write?db=aemet","tls":"","persist":false,"proxy":"","authType":"","x":1630,"y":100,"wires":[[]]}]