nodered/alarma-flows.json
[{"id":"69fd8a31.5b5acc","type":"tab","label":"Alarma","disabled":false,"info":""},{"id":"508ca89a.ac4438","type":"mqtt in","z":"69fd8a31.5b5acc","name":"","topic":"+/+/bedroom/+/alarm","qos":"2","datatype":"auto","broker":"af2ecbdd.767f08","x":110,"y":320,"wires":[["8d91df47.bba98","1aa94b90.4dfca4","5a33b7ec.a88f18"]]},{"id":"8d91df47.bba98","type":"function","z":"69fd8a31.5b5acc","name":"retrieveData","func":"var dataObject = {};\nvar msgParts = msg.topic.split(\"/\")\ndataObject[\"idTenant\"] = msgParts[0];\ndataObject[\"idResidence\"] = msgParts[1];\ndataObject[\"idBedroom\"] = msgParts[3];\nmsg.payload = dataObject\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":420,"wires":[["7dbc6dd5.8ba894"]]},{"id":"1aa94b90.4dfca4","type":"decode","z":"69fd8a31.5b5acc","name":"DecodeEnvironment","protofile":"60305973.f62a9","protoType":"alartMessage","x":460,"y":200,"wires":[["7dbc6dd5.8ba894"]]},{"id":"7dbc6dd5.8ba894","type":"join","z":"69fd8a31.5b5acc","name":"datamerged","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":690,"y":320,"wires":[["ddb4356a.6122d8","ea24b0b8.45a91"]]},{"id":"90ec4bf0.61cff8","type":"http request","z":"69fd8a31.5b5acc","name":"POST to influx","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1860,"y":320,"wires":[["4616301e.30ca3"]]},{"id":"8604d8d7.230be8","type":"function","z":"69fd8a31.5b5acc","name":"Prepare POST Alarm","func":"var influxPostLine = ',alarm=#alarm';\ninfluxPostLine = influxPostLine.replace('#alarm',msg.payload.alarm);\nmsg.payload = 'alarm ' + msg.influxLine + influxPostLine;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":300,"wires":[["f0253d4e.47e6d","8afc634f.8f4eb"]]},{"id":"ddb4356a.6122d8","type":"debug","z":"69fd8a31.5b5acc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":180,"wires":[]},{"id":"f79dea93.d1c8f8","type":"debug","z":"69fd8a31.5b5acc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1850,"y":440,"wires":[]},{"id":"f0253d4e.47e6d","type":"function","z":"69fd8a31.5b5acc","name":"Prepare POST URL","func":"var postUrl = \"http://#influxIp:8086/write?db=#db\";\npostUrl =  postUrl.replace('#influxIp', env.get(\"INFLUX_IP\"));\npostUrl =  postUrl.replace('#db', env.get(\"SENSOR_DATABASE_NAME\"));\nmsg.url = postUrl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":320,"wires":[["90ec4bf0.61cff8","f79dea93.d1c8f8"]]},{"id":"4616301e.30ca3","type":"debug","z":"69fd8a31.5b5acc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":2140,"y":340,"wires":[]},{"id":"ea24b0b8.45a91","type":"function","z":"69fd8a31.5b5acc","name":"DataToMsg","func":"msg.idResidence = msg.payload.idResidence;\nmsg.idTenant = msg.payload.idTenant;\nmsg.idBedroom = msg.payload.idBedroom;\nmsg.influxLine = \"idTenant=#idTenant,idResidence=#idResidence,idBedroom=#idBedroom\"\nmsg.influxLine = msg.influxLine.replace('#idTenant',msg.payload.idTenant);\nmsg.influxLine = msg.influxLine.replace('#idResidence',msg.payload.idResidence);\nmsg.influxLine = msg.influxLine.replace('#idBedroom',msg.payload.idBedroom);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":320,"wires":[["8604d8d7.230be8"]]},{"id":"5a33b7ec.a88f18","type":"debug","z":"69fd8a31.5b5acc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":540,"wires":[]},{"id":"8afc634f.8f4eb","type":"debug","z":"69fd8a31.5b5acc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1540,"y":480,"wires":[]},{"id":"af2ecbdd.767f08","type":"mqtt-broker","name":"mqtt-server","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"60305973.f62a9","type":"protobuf-file","protopath":"/usr/src/node-red/environment.proto","watchFile":true}]