nodered/environment-flow.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Environment","disabled":false,"info":""},{"id":"e8dd6170.0ff208","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"+/+/bedroom/+/environment","qos":"2","datatype":"auto","broker":"af2ecbdd.767f08","x":180,"y":320,"wires":[["ebfb4603.f4073","c9c3c355.bbea"]]},{"id":"ebfb4603.f4073","type":"function","z":"f6f2187d.f17ca8","name":"retrieveData","func":"var dataObject = {};\nvar msgParts = msg.topic.split(\"/\")\ndataObject[\"idTenant\"] = msgParts[0];\ndataObject[\"idResidence\"] = msgParts[1];\ndataObject[\"idBedroom\"] = msgParts[3];\nmsg.payload = dataObject\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":420,"wires":[["e7491554.b9831"]]},{"id":"c9c3c355.bbea","type":"decode","z":"f6f2187d.f17ca8","name":"DecodeEnvironment","protofile":"60305973.f62a9","protoType":"environmentMessage","x":560,"y":200,"wires":[["e7491554.b9831"]]},{"id":"e7491554.b9831","type":"join","z":"f6f2187d.f17ca8","name":"datamerged","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":810,"y":300,"wires":[["e6b3bc9b.9d255","eb02a553.b044b"]]},{"id":"e6b3bc9b.9d255","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1090,"y":420,"wires":[]},{"id":"205f5a50.8dda4e","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"key","statusType":"msg","x":1290,"y":220,"wires":[]},{"id":"eb02a553.b044b","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.idResidence","targetType":"jsonata","statusVal":"idResidence,idTenant","statusType":"auto","x":1110,"y":160,"wires":[]},{"id":"21a9635b.75d3ec","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":1370,"y":400,"wires":[[]]},{"id":"af2ecbdd.767f08","type":"mqtt-broker","name":"mqtt-server","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"60305973.f62a9","type":"protobuf-file","protopath":"/usr/src/node-red/environment.proto","watchFile":true}]