nodered/environment-flow.json
[{"id":"984e793.8ba9c88","type":"tab","label":"Environment","disabled":false,"info":""},{"id":"125b515f.f06abf","type":"mqtt in","z":"984e793.8ba9c88","name":"","topic":"+/+/bedroom/+/environment","qos":"2","datatype":"auto","broker":"af2ecbdd.767f08","x":160,"y":280,"wires":[["6e912ceb.2e9e64","56046056.4642d","69c26fc9.c4cd5"]]},{"id":"6e912ceb.2e9e64","type":"function","z":"984e793.8ba9c88","name":"retrieveData","func":"var dataObject = {};\nvar msgParts = msg.topic.split(\"/\")\ndataObject[\"idTenant\"] = msgParts[0];\ndataObject[\"idResidence\"] = msgParts[1];\ndataObject[\"idBedroom\"] = msgParts[3];\nmsg.payload = dataObject\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":380,"wires":[["61bb50b2.fa455"]]},{"id":"56046056.4642d","type":"decode","z":"984e793.8ba9c88","name":"DecodeEnvironment","protofile":"60305973.f62a9","protoType":"environmentMessage","x":480,"y":160,"wires":[["61bb50b2.fa455"]]},{"id":"61bb50b2.fa455","type":"join","z":"984e793.8ba9c88","name":"datamerged","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":710,"y":280,"wires":[["def26968.e46a28","68703c0c.dc0b74"]]},{"id":"4d9e2af4.f46574","type":"http request","z":"984e793.8ba9c88","name":"POST to influx","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1880,"y":280,"wires":[["e5255292.f4c72","a5df2549.350d68"]]},{"id":"9a75796d.05b4d8","type":"function","z":"984e793.8ba9c88","name":"Prepare POST Presence","func":"var influxPostLine = ',presence=#presence';\ninfluxPostLine = influxPostLine.replace('#presence',msg.payload.presence);\nmsg.payload = 'presence ' + msg.influxLine + influxPostLine;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":160,"wires":[["8b776453.4d33d8"]]},{"id":"67319162.4e20c","type":"switch","z":"984e793.8ba9c88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"presence","vt":"str"},{"t":"hask","v":"airQuality","vt":"str"},{"t":"hask","v":"humidity","vt":"str"},{"t":"hask","v":"temperature","vt":"str"},{"t":"hask","v":"lightLevel","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1050,"y":280,"wires":[["9a75796d.05b4d8"],["62c2f53f.aa041c"],["af741d55.5f83b"],["373033f5.d64a9c"],["5da3c18c.71a24"]]},{"id":"62c2f53f.aa041c","type":"function","z":"984e793.8ba9c88","name":"Prepare POST Air Quality","func":"var influxPostLine = ',airQuality=#airQuality';\ninfluxPostLine = influxPostLine.replace('#airQuality',msg.payload.airQuality);\nmsg.payload = 'airQuality ' + msg.influxLine + influxPostLine;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":220,"wires":[["8b776453.4d33d8"]]},{"id":"af741d55.5f83b","type":"function","z":"984e793.8ba9c88","name":"Prepare POST Humidity","func":"var influxPostLine = ',humidity=#humidity';\ninfluxPostLine = influxPostLine.replace('#humidity',msg.payload.humidity);\nmsg.payload = 'humidity ' + msg.influxLine + influxPostLine;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":280,"wires":[["8b776453.4d33d8"]]},{"id":"373033f5.d64a9c","type":"function","z":"984e793.8ba9c88","name":"Prepare POST Temperature","func":"var influxPostLine = ',temperature=#temperature';\ninfluxPostLine = influxPostLine.replace('#temperature',msg.payload.temperature);\nmsg.payload = 'temperature ' + msg.influxLine + influxPostLine;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":340,"wires":[["8b776453.4d33d8"]]},{"id":"5da3c18c.71a24","type":"function","z":"984e793.8ba9c88","name":"Prepare POST LightLevel","func":"var influxPostLine = ',lightLevel=#lightLevel';\ninfluxPostLine = influxPostLine.replace('#lightLevel',msg.payload.lightLevel);\nmsg.payload = 'light ' + msg.influxLine + influxPostLine;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":400,"wires":[["8b776453.4d33d8"]]},{"id":"def26968.e46a28","type":"debug","z":"984e793.8ba9c88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":140,"wires":[]},{"id":"8525f60d.6318e8","type":"link out","z":"984e793.8ba9c88","name":"","links":["2f09ab16.783014"],"x":2375,"y":280,"wires":[]},{"id":"273e96fa.ab0a0a","type":"debug","z":"984e793.8ba9c88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1870,"y":400,"wires":[]},{"id":"8b776453.4d33d8","type":"function","z":"984e793.8ba9c88","name":"Prepare POST URL","func":"var postUrl = \"http://#influxIp:8086/write?db=#db\";\npostUrl =  postUrl.replace('#influxIp', env.get(\"INFLUX_IP\"));\npostUrl =  postUrl.replace('#db', env.get(\"SENSOR_DATABASE_NAME\"));\nmsg.url = postUrl;\nvar msgParts = msg.topic.split(\"/\")\nmsg.payload =  msg.payload.replace('idTenant=undefined', 'idTenant='+msgParts[0]);\nmsg.payload =  msg.payload.replace('idResidence=undefined', 'idResidence='+msgParts[1]);\nmsg.payload =  msg.payload.replace('idBedroom=undefined', 'idBedroom='+msgParts[3]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":280,"wires":[["4d9e2af4.f46574","273e96fa.ab0a0a"]]},{"id":"e5255292.f4c72","type":"debug","z":"984e793.8ba9c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":2080,"y":360,"wires":[]},{"id":"68703c0c.dc0b74","type":"function","z":"984e793.8ba9c88","name":"DataToMsg","func":"msg.idResidence = msg.payload.idResidence;\nmsg.idTenant = msg.payload.idTenant;\nmsg.idBedroom = msg.payload.idBedroom;\nmsg.influxLine = \"idTenant=#idTenant,idResidence=#idResidence,idBedroom=#idBedroom\"\nmsg.influxLine = msg.influxLine.replace('#idTenant',msg.payload.idTenant);\nmsg.influxLine = msg.influxLine.replace('#idResidence',msg.payload.idResidence);\nmsg.influxLine = msg.influxLine.replace('#idBedroom',msg.payload.idBedroom);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":280,"wires":[["67319162.4e20c"]]},{"id":"69c26fc9.c4cd5","type":"debug","z":"984e793.8ba9c88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":500,"wires":[]},{"id":"a5df2549.350d68","type":"switch","z":"984e793.8ba9c88","name":"Check statusCode","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"400","vt":"str"},{"t":"neq","v":"400","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2130,"y":280,"wires":[["ddcc5023.c52cb"],["8525f60d.6318e8"]]},{"id":"ddcc5023.c52cb","type":"debug","z":"984e793.8ba9c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2350,"y":180,"wires":[]},{"id":"af2ecbdd.767f08","type":"mqtt-broker","name":"mqtt-server","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"60305973.f62a9","type":"protobuf-file","protopath":"/usr/src/node-red/environment.proto","watchFile":true}]