nodered/environment-flow.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Environment","disabled":false,"info":""},{"id":"e8dd6170.0ff208","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"+/+/bedroom/+/environment","qos":"2","datatype":"auto","broker":"af2ecbdd.767f08","nl":false,"rap":false,"x":160,"y":240,"wires":[["c9c3c355.bbea"]]},{"id":"c9c3c355.bbea","type":"decode","z":"f6f2187d.f17ca8","name":"DecodeEnvironment","protofile":"60305973.f62a9","protoType":"environmentMessage","x":420,"y":220,"wires":[["8959b563.61a63"]]},{"id":"21a9635b.75d3ec","type":"http request","z":"f6f2187d.f17ca8","name":"POST to influx","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1880,"y":280,"wires":[["afb70dbf.f716c8","17be8302.ab4f4d"]]},{"id":"5868a5a0.b8c68c","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":120,"wires":[]},{"id":"25324058.6b9cf8","type":"link out","z":"f6f2187d.f17ca8","name":"","links":["2f09ab16.783014"],"x":2495,"y":300,"wires":[]},{"id":"11d8d377.cbf49d","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1850,"y":400,"wires":[]},{"id":"88288154.2926a8","type":"function","z":"f6f2187d.f17ca8","name":"Prepare POST URL","func":"var postUrl = \"http://#influxIp:8086/write?db=#db\";\npostUrl =  postUrl.replace('#influxIp', env.get(\"INFLUX_IP\"));\npostUrl =  postUrl.replace('#db', env.get(\"SENSOR_DATABASE_NAME\"));\nmsg.url = postUrl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":280,"wires":[["21a9635b.75d3ec","11d8d377.cbf49d"]]},{"id":"afb70dbf.f716c8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":2080,"y":360,"wires":[]},{"id":"b19115ae.a9c7a8","type":"function","z":"f6f2187d.f17ca8","name":"DataToMsg","func":"msg.idResidence = msg.payload.idResidence;\nmsg.idTenant = msg.payload.idTenant;\nmsg.idBedroom = msg.payload.idBedroom;\nmsg.influxLine = \"idTenant=#idTenant,idResidence=#idResidence,idBedroom=#idBedroom\"\nmsg.influxLine = msg.influxLine.replace('#idTenant',msg.payload.idTenant);\nmsg.influxLine = msg.influxLine.replace('#idResidence',msg.payload.idResidence);\nmsg.influxLine = msg.influxLine.replace('#idBedroom',msg.payload.idBedroom);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":280,"wires":[["5868a5a0.b8c68c","6fcef89d.c00508"]]},{"id":"17be8302.ab4f4d","type":"switch","z":"f6f2187d.f17ca8","name":"Check statusCode","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"400","vt":"str"},{"t":"neq","v":"400","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2290,"y":280,"wires":[["6c485acf.0a4d7c"],["25324058.6b9cf8"]]},{"id":"6c485acf.0a4d7c","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2490,"y":180,"wires":[]},{"id":"8959b563.61a63","type":"function","z":"f6f2187d.f17ca8","name":"retrieveData","func":"var dataObject = {};\nvar msgParts = msg.topic.split(\"/\")\nmsg.payload.idTenant =  msgParts[0];\nmsg.payload.idResidence =  msgParts[1];\nmsg.payload.idBedroom =  msgParts[3];\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":180,"wires":[["b19115ae.a9c7a8"]]},{"id":"6fcef89d.c00508","type":"function","z":"f6f2187d.f17ca8","name":"Prepare multiple post line","func":"var influxPostLine;\nvar moreLines = false;\nvar sensorData = msg.payload;\nmsg.payload = \"\";\nif(sensorData.airQuality) {\n    influxPostLine = ',airQuality=#airQuality';\n    influxPostLine = influxPostLine.replace('#airQuality',sensorData.airQuality);\n    msg.payload = 'airQuality ' + msg.influxLine + influxPostLine;\n    moreLines = true;\n}\nif(sensorData.presence) {\n    influxPostLine = ',presence=#presence';\n    influxPostLine = influxPostLine.replace('#presence',sensorData.presence);\n        \n    msg.payload += (moreLines ? '\\n': '') + 'presence ' + msg.influxLine + influxPostLine;\n    moreLines = true;\n}\nif(sensorData.humidity) {\n    influxPostLine = ',humidity=#humidity';\n    influxPostLine = influxPostLine.replace('#humidity',sensorData.humidity);\n    msg.payload += (moreLines ? '\\n': '') +  'humidity ' + msg.influxLine + influxPostLine;\n    moreLines = true;\n}\nif(sensorData.temperature) {\n   influxPostLine = ',temperature=#temperature';\n    influxPostLine = influxPostLine.replace('#temperature',sensorData.temperature);\n    msg.payload += (moreLines ? '\\n': '') +  'temperature ' + msg.influxLine + influxPostLine;\n    moreLines = true;\n}\nif(sensorData.lightLevel) {\n    influxPostLine = ',lightLevel=#lightLevel';\n    influxPostLine = influxPostLine.replace('#lightLevel',sensorData.lightLevel);\n    msg.payload += (moreLines ? '\\n': '') +  'light ' + msg.influxLine + influxPostLine;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":280,"wires":[["88288154.2926a8"]]},{"id":"af2ecbdd.767f08","type":"mqtt-broker","name":"mqtt-server","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"60305973.f62a9","type":"protobuf-file","protopath":"/usr/src/node-red/environment.proto","watchFile":true}]