nodered/webendpoint-flow.json
[{"id":"91e6e10.e4f2ea","type":"tab","label":"WebEndpoint","disabled":false,"info":""},{"id":"54a5cf2f.531ee","type":"http in","z":"91e6e10.e4f2ea","name":"GET Rooms","url":"/api/rooms/:residencia","method":"get","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["1f84083.5dae8f8"]]},{"id":"14727cad.2598e3","type":"http response","z":"91e6e10.e4f2ea","name":"Response","statusCode":"","headers":{},"x":980,"y":200,"wires":[]},{"id":"1f84083.5dae8f8","type":"function","z":"91e6e10.e4f2ea","name":"Buscar emergencia","func":"msg.payload.retirement=msg.req.params.residencia;\nmsg.payload.rooms=[];\n\nfor (i = 0; i < 20; i++) {\n    msg.payload.rooms.push({nodeName: \"Habitación \"+i,\n    nodeId: i+\"\",\n    light: Math.floor(Math.random() * (4095 * 1 - 1000 * 1) + 1000 * 1) /(1),\n    temperature:Math.floor(Math.random() * (30 * 100 - 25 * 100) + 25 * 100) /(100),\n    humidity:Math.floor(Math.random() * (30 * 100 - 60 * 100) + 60 * 100) /(100),\n    airQuality:Math.floor(Math.random() * (4095 * 1 - 1000 * 1) + 1000 * 1) /(1),\n    presence: Math.random()*100 > 50 ? true : false,\n    emergency: Math.random()*100 > 50 ? true : false});\n    \n}\n    \nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":140,"wires":[["14727cad.2598e3"]]},{"id":"c1827d37.886dd","type":"http in","z":"91e6e10.e4f2ea","name":"POST Emergencia","url":"/api/emergency/:residencia/:room","method":"post","upload":false,"swaggerDoc":"","x":200,"y":340,"wires":[["5a4fb842.98b468","ec1f3264.c84e8"]]},{"id":"1cfd1cef.8c45c3","type":"http response","z":"91e6e10.e4f2ea","name":"Response","statusCode":"","headers":{},"x":940,"y":320,"wires":[]},{"id":"5a4fb842.98b468","type":"debug","z":"91e6e10.e4f2ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":420,"wires":[]},{"id":"ec1f3264.c84e8","type":"function","z":"91e6e10.e4f2ea","name":"","func":"msg.payload= {};\nmsg.payload.response=\"OK\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":260,"wires":[["1cfd1cef.8c45c3","51fabef5.0b1a2"]]},{"id":"51fabef5.0b1a2","type":"debug","z":"91e6e10.e4f2ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":420,"wires":[]}]