nodered/webendpoint-flow.json
[{"id":"91e6e10.e4f2ea","type":"tab","label":"WebEndpoint","disabled":false,"info":""},{"id":"c6a1993.99c9b68","type":"http in","z":"91e6e10.e4f2ea","name":"GET Emergency","url":"/api/rooms/emergency/:idTenant/:idResidence/:idBedroom","method":"get","upload":false,"swaggerDoc":"","x":180,"y":140,"wires":[["b323ccac.807a5"]]},{"id":"b323ccac.807a5","type":"function","z":"91e6e10.e4f2ea","name":"retrieveData","func":"var dataObject = {};\ndataObject[\"idTenant\"] = msg.req.params.idTenant;\ndataObject[\"idResidence\"] = msg.req.params.idResidence;\ndataObject[\"idBedroom\"] = msg.req.params.idBedroom;\nmsg.payload = dataObject\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":140,"wires":[["1038e44d.9883fc"]]},{"id":"1038e44d.9883fc","type":"function","z":"91e6e10.e4f2ea","name":"DataToMsg","func":"msg.idResidence = msg.payload.idResidence;\nmsg.idTenant = msg.payload.idTenant;\nmsg.influxLine = \"q=SELECT%20*%20FROM%20alarm%20WHERE%20idTenant=#idTenant%20AND%20idResidence=#idResidence%20AND%20idBedroom=#idBedroom%20ORDER%20BY%20desc%20LIMIT%201\"\nmsg.influxLine = msg.influxLine.replace('#idTenant',msg.payload.idTenant);\nmsg.influxLine = msg.influxLine.replace('#idResidence',msg.payload.idResidence);\nmsg.influxLine = msg.influxLine.replace('#idBedroom',msg.payload.idBedroom);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":140,"wires":[["576952b3.214cdc"]]},{"id":"576952b3.214cdc","type":"function","z":"91e6e10.e4f2ea","name":"Prepare GET URL","func":"var getUrl = \"http://#influxIp:8086/query?db=#db\";\ngetUrl =  getUrl.replace('#influxIp', env.get(\"INFLUX_IP\"));\ngetUrl =  getUrl.replace('#db', env.get(\"SENSOR_DATABASE_NAME\"));\nmsg.url = getUrl+\"&\"+msg.influxLine;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":260,"wires":[["c6bcd04a.eba73"]]},{"id":"c6bcd04a.eba73","type":"http request","z":"91e6e10.e4f2ea","name":"GET to influx","method":"GET","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":260,"wires":[["48fbf14a.fc6c8"]]},{"id":"48fbf14a.fc6c8","type":"http response","z":"91e6e10.e4f2ea","name":"Response","statusCode":"","headers":{},"x":680,"y":260,"wires":[]},{"id":"bebc5175.a3688","type":"http in","z":"91e6e10.e4f2ea","name":"GET Rooms Data","url":"/api/rooms/:idTenant/:idResidence","method":"get","upload":false,"swaggerDoc":"","x":140,"y":400,"wires":[["123e4cf6.c7b843"]]},{"id":"123e4cf6.c7b843","type":"function","z":"91e6e10.e4f2ea","name":"retrieveData","func":"var dataObject = {};\ndataObject[\"idTenant\"] = msg.req.params.idTenant;\ndataObject[\"idResidence\"] = msg.req.params.idResidence;\nmsg.payload = dataObject\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":400,"wires":[["b3fa1a3f.3ca9d8"]]},{"id":"b3fa1a3f.3ca9d8","type":"function","z":"91e6e10.e4f2ea","name":"DataToMsg","func":"msg.idResidence = msg.payload.idResidence;\nmsg.idTenant = msg.payload.idTenant;\nmsg.influxLine = \"q=SELECT%20*%20FROM%20presence,%20airQuality,%20humidity,%20temperature,%20light%20WHERE%20idTenant=#idTenant%20AND%20idResidence=#idResidence\"\nmsg.influxLine = msg.influxLine.replace('#idTenant',msg.payload.idTenant);\nmsg.influxLine = msg.influxLine.replace('#idResidence',msg.payload.idResidence);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":400,"wires":[["e2aa2e86.f9a6d"]]},{"id":"e2aa2e86.f9a6d","type":"function","z":"91e6e10.e4f2ea","name":"Prepare GET URL","func":"var getUrl = \"http://#influxIp:8086/query?db=#db\";\ngetUrl =  getUrl.replace('#influxIp', env.get(\"INFLUX_IP\"));\ngetUrl =  getUrl.replace('#db', env.get(\"SENSOR_DATABASE_NAME\"));\nmsg.url = getUrl+\"&\"+msg.influxLine;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":520,"wires":[["aaa3.a16c655d6"]]},{"id":"aaa3.a16c655d6","type":"http request","z":"91e6e10.e4f2ea","name":"GET to influx","method":"GET","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":520,"wires":[["d466226d.c5481"]]},{"id":"d466226d.c5481","type":"http response","z":"91e6e10.e4f2ea","name":"Response","statusCode":"","headers":{},"x":640,"y":520,"wires":[]},{"id":"52ea238e.a34d3c","type":"http request","z":"91e6e10.e4f2ea","name":"POST to influx","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1440,"y":500,"wires":[["fea77737.fb5fd8"]]},{"id":"889e2bf.57b1fd8","type":"function","z":"91e6e10.e4f2ea","name":"Prepare POST Alarm","func":"var influxPostLine = ',alarm=#alarm';\ninfluxPostLine = influxPostLine.replace('#alarm',false);\nmsg.payload = 'alarm ' + msg.influxLine + influxPostLine;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":500,"wires":[["ebdd7e6f.84a22"]]},{"id":"ebdd7e6f.84a22","type":"function","z":"91e6e10.e4f2ea","name":"Prepare POST URL","func":"var postUrl = \"http://#influxIp:8086/write?db=#db\";\npostUrl =  postUrl.replace('#influxIp', env.get(\"INFLUX_IP\"));\npostUrl =  postUrl.replace('#db', env.get(\"SENSOR_DATABASE_NAME\"));\nmsg.url = postUrl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":500,"wires":[["52ea238e.a34d3c"]]},{"id":"3d3bd480.a6acac","type":"function","z":"91e6e10.e4f2ea","name":"DataToMsg","func":"msg.idResidence = msg.payload.idResidence;\nmsg.idTenant = msg.payload.idTenant;\nmsg.idBedroom = msg.payload.idBedroom;\nmsg.influxLine = \"idTenant=#idTenant,idResidence=#idResidence,idBedroom=#idBedroom\"\nmsg.influxLine = msg.influxLine.replace('#idTenant',msg.payload.idTenant);\nmsg.influxLine = msg.influxLine.replace('#idResidence',msg.payload.idResidence);\nmsg.influxLine = msg.influxLine.replace('#idBedroom',msg.payload.idBedroom);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":380,"wires":[["889e2bf.57b1fd8"]]},{"id":"fd4a08cd.cf3a08","type":"http in","z":"91e6e10.e4f2ea","name":"POST Stop Emergency","url":"/api/rooms/stop-alarm/:idTenant/:idResidence/:idBedroom","method":"post","upload":false,"swaggerDoc":"","x":900,"y":400,"wires":[["25994daa.bd14e2"]]},{"id":"25994daa.bd14e2","type":"function","z":"91e6e10.e4f2ea","name":"retrieveData","func":"var dataObject = {};\ndataObject[\"idTenant\"] = msg.req.params.idTenant;\ndataObject[\"idResidence\"] = msg.req.params.idResidence;\ndataObject[\"idBedroom\"] = msg.req.params.idBedroom;\nmsg.payload = dataObject\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":380,"wires":[["3d3bd480.a6acac"]]},{"id":"fea77737.fb5fd8","type":"http response","z":"91e6e10.e4f2ea","name":"Response","statusCode":"","headers":{},"x":940,"y":600,"wires":[]},{"id":"4a95b3e1.136b0c","type":"http in","z":"91e6e10.e4f2ea","name":"GET Room Data","url":"/api/room/:idTenant/:idResidence/:idBedroom","method":"get","upload":false,"swaggerDoc":"","x":940,"y":140,"wires":[["e46cffcb.5b755"]]},{"id":"e46cffcb.5b755","type":"function","z":"91e6e10.e4f2ea","name":"retrieveData","func":"var dataObject = {};\ndataObject[\"idTenant\"] = msg.req.params.idTenant;\ndataObject[\"idResidence\"] = msg.req.params.idResidence;\ndataObject[\"idBedroom\"] = msg.req.params.idBedroom;\nmsg.payload = dataObject\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":140,"wires":[["9f052e64.5964e"]]},{"id":"9f052e64.5964e","type":"function","z":"91e6e10.e4f2ea","name":"DataToMsg","func":"msg.idResidence = msg.payload.idResidence;\nmsg.idTenant = msg.payload.idTenant;\nmsg.influxLine = \"q=SELECT%20*%20FROM%20presence,%20airQuality,%20humidity,%20temperature,%20light%20WHERE%20idTenant=#idTenant%20AND%20idResidence=#idResidence%20AND%20idBedroom=#idBedroom%20AND%20time%20>%20now()%20-%201m\"\nmsg.influxLine = msg.influxLine.replace('#idTenant',msg.payload.idTenant);\nmsg.influxLine = msg.influxLine.replace('#idResidence',msg.payload.idResidence);\nmsg.influxLine = msg.influxLine.replace('#idBedroom',msg.payload.idBedroom);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":140,"wires":[["ec93c330.07ca6"]]},{"id":"ec93c330.07ca6","type":"function","z":"91e6e10.e4f2ea","name":"Prepare GET URL","func":"var getUrl = \"http://#influxIp:8086/query?db=#db\";\ngetUrl =  getUrl.replace('#influxIp', env.get(\"INFLUX_IP\"));\ngetUrl =  getUrl.replace('#db', env.get(\"SENSOR_DATABASE_NAME\"));\nmsg.url = getUrl+\"&\"+msg.influxLine;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":260,"wires":[["9b9e59d0.757c78"]]},{"id":"9b9e59d0.757c78","type":"http request","z":"91e6e10.e4f2ea","name":"GET to influx","method":"GET","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1230,"y":260,"wires":[["83819fe9.94fbc"]]},{"id":"83819fe9.94fbc","type":"http response","z":"91e6e10.e4f2ea","name":"Response","statusCode":"","headers":{},"x":1460,"y":260,"wires":[]}]