nodered/webendpoint-flow.json
[{"id":"91e6e10.e4f2ea","type":"tab","label":"WebEndpoint","disabled":false,"info":""},{"id":"54a5cf2f.531ee","type":"http in","z":"91e6e10.e4f2ea","name":"GET Rooms","url":"/api/rooms/:residencia","method":"get","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["1f84083.5dae8f8"]]},{"id":"14727cad.2598e3","type":"http response","z":"91e6e10.e4f2ea","name":"Response","statusCode":"","headers":{},"x":980,"y":200,"wires":[]},{"id":"1f84083.5dae8f8","type":"function","z":"91e6e10.e4f2ea","name":"Buscar datos de los sensores","func":"msg.payload.retirement=msg.req.params.residencia;\nmsg.payload.rooms=[];\n\nfor (i = 0; i < 20; i++) {\n    msg.payload.rooms.push({nodeName: \"Habitación \"+i,\n    nodeId: i+\"\",\n    light: Math.floor(Math.random() * (4095 * 1 - 1000 * 1) + 1000 * 1) /(1),\n    temperature:Math.floor(Math.random() * (30 * 100 - 25 * 100) + 25 * 100) /(100),\n    humidity:Math.floor(Math.random() * (30 * 100 - 60 * 100) + 60 * 100) /(100),\n    airQuality:Math.floor(Math.random() * (4095 * 1 - 1000 * 1) + 1000 * 1) /(1),\n    presence: Math.random()*100 > 50 ? true : false});\n    \n}\n    \nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":140,"wires":[["14727cad.2598e3"]]},{"id":"c6a1993.99c9b68","type":"http in","z":"91e6e10.e4f2ea","name":"GET Emergency","url":"/api/rooms/:residencia/emergency/:delay","method":"get","upload":false,"swaggerDoc":"","x":160,"y":360,"wires":[["6a2ea028.fa662"]]},{"id":"7276ccca.bdba44","type":"http response","z":"91e6e10.e4f2ea","name":"Response","statusCode":"","headers":{},"x":960,"y":340,"wires":[]},{"id":"6a2ea028.fa662","type":"function","z":"91e6e10.e4f2ea","name":"Buscar emergencia","func":"msg.payload.retirement=msg.req.params.residencia;\nmsg.payload.rooms=[];\n\nfor (i = 0; i < 20; i++) {\n    msg.payload.rooms.push({nodeName: \"Habitación \"+i,\n    nodeId: i+\"\",\n    emergency: Math.random()*100 > 99 ? true : false});\n    \n}\n    \nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":280,"wires":[["7276ccca.bdba44"]]}]